header {
	border-bottom: 1px solid #000;
}

footer {
	border-top: 1px solid #000;
}

.survey {
	/*border: 1px solid #000;*/
	padding: 10px;
}

.survey #form1 label{
	display: inline;
}

.survey #form1 #radioNo, .survey #form1 input[type="submit"] {
	margin-left: 1.5rem;
}

.row {
	/*background-color: #F2D3D3;*/
}

.results #outcome {
	border: 1px solid #76684F;
	/*background-color: #BEEB9F;*/
	background-color: #C8EBC7;
	padding: 14px 5px;
}

.responses p {
	margin-bottom: 1.2rem;
}
