header {
	border-bottom: 1px solid #000;
  background-color: #000;
  color: #fff;
}

footer {
	border-top: 1px solid #000;
  margin-top: 4%;
}

.survey, #outcome {
	/*border: 1px solid #000;*/
	padding: 10px;
}

.survey #form1 label{
	display: inline;
}

.survey #form1 #radioNo, .survey #form1 input[type="submit"] {
	margin-left: 1.5rem;
}

.row {
	/*background-color: #F2D3D3;*/
}

.results #outcome {
	border: 1px solid #76684F;
	/*background-color: #BEEB9F;*/
	background-color: #C8EBC7;
	padding: 14px 5px;
}

.responses p {
	margin-bottom: 1.2rem;
}

span#restart {
	color: red;
  display: block;
  margin-top: 40px;

}

span#restart a {
  	color: red;
  	padding: 0 25px;
  	height: 30px;
  	text-align: center;
  	font-size: 11px;
  	font-weight: 600;
  	line-height: 30px;
  	letter-spacing: .1rem;
  	text-transform: uppercase;
  	text-decoration: none;
  	white-space: nowrap;
  	background-color: transparent;
  	border-radius: 4px;
  	border: 1px solid #bbb;
  	cursor: pointer;
  	display: inline-block;
  	box-sizing: border-box;
}

span#restart a:hover {
  color: #0FA0CE; 
}

#headlow{
  //background-color: #118BCE;
  background-color: #7FB72B;
  padding: 11px 0;
  color: #000;
}




